/* .aboutUsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px 50px 50px 50px;
    gap: 40px;
}

.center {
    background: linear-gradient(rgb(71 118 171 / 20%) 0%, rgba(0, 97, 242, 0.1) 100%);
    width: 55%;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.ansTextContainer {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    padding: 40px;
    width: 80%;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 50px 50px 50px;
    gap: 40px;
}

.knowContainer {
    display: flex;
    margin-top: 50px;
    width: 100%;
    padding-left: 30px;
    font-size: 32px;
    color: black;
}

.didYouContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px 10px 30px;
    color: black;
}

.knowBox {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    background: linear-gradient(rgb(71 118 171 / 20%) 0%, rgba(0, 97, 242, 0.1) 100%);
    min-height: 200px;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    color: black;
} */