.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    display: flex;
    width: 20%;
    height: 100vh;
}

.body {
    display: flex;
    width: 80%;
    height: 100vh;
}